.feed{
    
    & span{
        text-transform: uppercase;
        font-size: 1.5rem;
        color: rgba(#000000, .6);
    }

    & h2{
        text-transform: capitalize;
        font-size: 3rem;
        margin: 1rem 0 !important;
    }

    & p{
        font-size: 1.5rem;
        color: rgba(#000000, .6);
        margin: 2rem 0;
    }

    & h3{
        text-transform: capitalize;
        font-size: 2.5rem;
        margin-bottom: 3rem !important;

        & span{
            text-transform: capitalize;
            font-size: 1.5rem;
            color: rgba(#000000, .6);
        }
    }


}

.section-feed{
    padding: 05rem 0;
    
    & .row{
        
        @include respond-tabport {
            flex-direction: column-reverse;

            & .feed{
                margin-bottom: 3rem;
            }
        }
    }
}