* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(206, 206, 206, 0.774);
}

ul {
  list-style: none;
}

.btn-read {
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.5rem;
  border: 1px solid green;
  background-color: transparent;
}

.card-slide {
  width: 90%;
  height: 100%;
  margin-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 31px -28px rgba(0, 0, 0, 0.22);
          box-shadow: 0px 0px 31px -28px rgba(0, 0, 0, 0.22);
  position: relative;
}

.card-slide .icon {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background-color: gray;
  text-align: center;
  margin-right: 1.5rem;
}

.card-slide .icon img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-slide .desc {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.card-slide .desc p {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}

.card-slide .desc h4 {
  font-size: 1.7rem;
  margin-bottom: 0 !important;
}

.card-slide .desc span {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.5);
}

.card-slide .quote {
  position: absolute;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: black;
  bottom: 1rem;
  right: 1rem;
  text-align: center;
}

.card-slide .quote img {
  height: 100%;
  width: 60%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (max-width: 575px) {
  .card-slide {
    display: block;
    width: 100%;
  }
  .card-slide .icon {
    margin-bottom: 1rem;
  }
}

.splide .splide__slide {
  -webkit-transition: ease .4s;
  transition: ease .4s;
  margin-bottom: 3rem;
}

.splide .is-active {
  -webkit-transform: translateX(3rem) !important;
          transform: translateX(3rem) !important;
}

@media only screen and (max-width: 575px) {
  .splide .is-active {
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
  }
}

.splide .splide__arrows {
  display: none;
}

.splide .splide__pagination {
  display: none;
}

.feed span {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.6);
}

.feed h2 {
  text-transform: capitalize;
  font-size: 3rem;
  margin: 1rem 0 !important;
}

.feed p {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.6);
  margin: 2rem 0;
}

.feed h3 {
  text-transform: capitalize;
  font-size: 2.5rem;
  margin-bottom: 3rem !important;
}

.feed h3 span {
  text-transform: capitalize;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.6);
}

.section-feed {
  padding: 05rem 0;
}

@media only screen and (max-width: 991px) {
  .section-feed .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .section-feed .row .feed {
    margin-bottom: 3rem;
  }
}
/*# sourceMappingURL=main.css.map */