.card-slide{
    width: 90%;
    height: 100%;
    //border: 1px solid rgba(red , .4);
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    padding: 2rem;
    border-radius: 4px;
    background-color: #fff;;
    box-shadow: 0px 0px 31px -28px rgba(0,0,0,0.22);
    position: relative;

    & .icon{
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        background-color: gray;
        text-align: center;
        margin-right: 1.5rem;

        & img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    & .desc{
        flex: 2;
        
        & p{
            font-size: 1.5rem;
            color: rgba(black , .5);
        }

        & h4{
            font-size: 1.7rem;
            margin-bottom: 0 !important;
        }

        & span{
            font-size: 1.6rem;
            color: rgba(black , .5);
        }
    }

    & .quote{
        position: absolute;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        background-color: black;
        bottom: 1rem;
        right: 1rem;
        text-align: center;

        & img{
            height: 100%;
            width: 60%;
            object-fit: contain;
        }
    }

    @include respond-phoneXs {
       display: block;
       width: 100%;

       & .icon{
           margin-bottom: 1rem;
       }
    }
}

.splide{
    
    .splide__slide{
        transition: ease .4s;
        margin-bottom: 3rem;
    }
    
    .is-active{
        transform: translateX(3rem) !important;

        @include respond-phoneXs {
            transform: translateX(0) !important;
        }
    }

    .splide__arrows{
        display: none;
    }
    
    .splide__pagination{
        display: none;
    }
    
}