*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    background-color: rgba(206, 206, 206, 0.774);
}

ul{
    list-style: none;
}