
@mixin respond-tabland {
    @media only screen and (max-width: 1999px){ @content }
};

@mixin respond-tabport {
    @media only screen and (max-width: 991px){ @content }
};

@mixin respond-tabportXs {
    @media only screen and (max-width: 767px){ @content }
};

@mixin respond-phone {
    @media only screen and (max-width: 600px){ @content }
};

@mixin respond-phoneXs {
    @media only screen and (max-width: 575px){ @content }
};
